In [6]:
import pandas as pd
import numpy as np
import seaborn as sns

# 1. Carga de archivos

In [2]:
df1 = pd.read_excel('Composicion de Cartera de clientes de Auto.xlsx')

In [7]:
df1.columns = df1.columns.str.title().str.strip()
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28486 entries, 0 to 28485
Data columns (total 22 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Cd_Persona V2                  28486 non-null  int64
 1   Tp_Documento                   28486 non-null  object
 2   Cd_Sexo                        25121 non-null  object
 3   Cd_Estado_Civil                25121 non-null  object
 4   Rango De Edad                  28486 non-null  object
 5   Tiempo Desde Registro (Meses)  28486 non-null  int64
 6   In_Lista_Negra                 137 non-null    float64
 7   Cd_Pais_Nacimiento             25485 non-null  object
 8   Cd_Nacionalidad                26969 non-null  object
 9   In_Inactivo                    6 non-null      float64
 10  Fe_Inactivo                    6 non-null      datetime64[ns]
 11  In_Vip                         19771 non-null  float64
 12  Cd_Provincia_Nacimiento        8024 non-null   float64
 13  De_Act_Economica_Adicional     282 non-null    object
 14  Cd_Sucursal_Envio              15809 non-null  float64
 15  De_Sector                      28480 non-null  object
 16  De_Ocupacion                   28480 non-null  object
 17  De_Actividad                   28480 non-null  object
 18  De_Ingreso_Anual               28480 non-null  object
 19  De_Profesion                   28480 non-null  object
 20  De_Tipo_Persona                28480 non-null  object
 21  De_Provincia                   28480 non-null  object
dtypes: datetime64[ns](1), float64(5), int64(2), object(14)
memory usage: 4.8+ MB

In [9]:
df1 = df1.rename(columns = {'Cd_Persona V2':'Codigo_Cliente',
                           'Rango De Edad':'Rango_Edad',
                           'Tiempo Desde Registro (Meses)':'Meses_Desde_Registro'})

df1.head()

,Codigo_Cliente,Tp_Documento,Cd_Sexo,Cd_Estado_Civil,Rango_Edad,Meses_Desde_Registro,In_Lista_Negra,Cd_Pais_Nacimiento,Cd_Nacionalidad,In_Inactivo,...,Cd_Provincia_Nacimiento,De_Act_Economica_Adicional,Cd_Sucursal_Envio,De_Sector,De_Ocupacion,De_Actividad,De_Ingreso_Anual,De_Profesion,De_Tipo_Persona,De_Provincia
0,240,RNC,NaN,NaN,,108,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,Industrial,0,0,0,0,Juridica,0
1,267,RNC,NaN,NaN,,1476,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,0,0,0,Juridica,0
2,270,RNC,NaN,NaN,,1476,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,0,0,0,Juridica,0
3,279,RNC,NaN,NaN,,1476,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,0,0,0,Juridica,0
4,288,RNC,NaN,NaN,,1476,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,0,0,0,Juridica,0

In [50]:
df1.tail()

,Codigo_Cliente,Tp_Documento,Cd_Sexo,Cd_Estado_Civil,Rango_Edad,Meses_Desde_Registro,In_Lista_Negra,Cd_Pais_Nacimiento,Cd_Nacionalidad,In_Inactivo,...,Cd_Provincia_Nacimiento,De_Act_Economica_Adicional,Cd_Sucursal_Envio,De_Sector,De_Ocupacion,De_Actividad,De_Ingreso_Anual,De_Profesion,De_Tipo_Persona,De_Provincia
28481,308598,CED,M,S,7- Rango 66-75,1476,NaN,DOM,DOM,NaN,...,1.0,NaN,1.0,0,0,0,0,0,Natural,Distrito Nacional
28482,308604,CED,M,S,2- Rango 18-25,1476,NaN,DOM,DOM,NaN,...,17.0,NaN,1.0,0,0,0,0,0,Natural,Monseñor Nouel
28483,308610,CED,M,S,3- Rango 26-35,1476,NaN,DOM,DOM,NaN,...,13.0,NaN,3.0,0,"INMOBILIARIA, EMPLEADOS DE",0,0,"INMOBILIARIA, EMPLEADOS DE",Natural,La Altagracia
28484,308613,CED,F,C,4- Rango 36-45,1476,NaN,DOM,DOM,NaN,...,NaN,NaN,1.0,0,0,0,0,0,Natural,0
28485,308619,CED,M,S,5- Rango 46-55,1476,NaN,DOM,DOM,NaN,...,NaN,NaN,1.0,0,0,0,0,0,Natural,0

In [43]:
df1.Tp_Documento.value_counts()

CED    24083
RNC     3368
PAS     1033
P          2
Name: Tp_Documento, dtype: int64

In [30]:
df1.loc[df1['Codigo_Cliente'] == 7668].T

                                1521
Codigo_Cliente                  7668
Tp_Documento                     RNC
Cd_Sexo                          NaN
Cd_Estado_Civil                  NaN
Rango_Edad
Meses_Desde_Registro            1476
In_Lista_Negra                   NaN
Cd_Pais_Nacimiento               NaN
Cd_Nacionalidad                  NaN
In_Inactivo                      NaN
Fe_Inactivo                      NaT
In_Vip                           0.0
Cd_Provincia_Nacimiento          NaN
De_Act_Economica_Adicional       NaN
Cd_Sucursal_Envio                NaN
De_Sector                          0
De_Ocupacion                       0
De_Actividad                       0
De_Ingreso_Anual                   0
De_Profesion                       0
De_Tipo_Persona             Juridica
De_Provincia                       0

In [10]:
df1['Codigo_Cliente'].nunique()

28486

In [12]:
df2 = pd.read_excel('Historico Auto y Caracteristicas de Vehiculo.xlsx')

In [13]:
df2.columns = df2.columns.str.title().str.strip()
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55707 entries, 0 to 55706
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Cd_Persona V2     55707 non-null  int64
 1   Poliza Id V2      55707 non-null  int64
 2   Tipo_Vehiculo     55707 non-null  object
 3   Color             55707 non-null  object
 4   Marca             55707 non-null  object
 5   Modelo            55707 non-null  object
 6   Año               55707 non-null  int64
 7   Tipo Transmision  55704 non-null  object
dtypes: int64(3), object(5)
memory usage: 3.4+ MB

In [14]:
df2 = df2.rename(columns = {'Cd_Persona V2':'Codigo_Cliente',
                           'Poliza Id V2':'Codigo_Poliza',
                           'Tipo Transmision':'Tipo_Transmision'})

df2.head()

,Codigo_Cliente,Codigo_Poliza,Tipo_Vehiculo,Color,Marca,Modelo,Año,Tipo_Transmision
0,240,11473,Jeeps y Vanette,Blanco,LEXUS,RX350,2014,Automatico
1,240,11474,Camion,Blanco,MITSUBISHI,FUSO,2007,Sincronico_Camión
2,267,11475,Camioneta,Blanco,ISUZU,D-MAX,2008,Automatico
3,267,11476,Jeeps y Vanette,Blanco,TOYOTA,LAND CRUISER,2002,Automatico
4,267,11477,Furgoneta,Blanco,SHINERAY,MINI TRUCK,2018,Furgoneta_Sincronico

In [16]:
df2.Codigo_Cliente.nunique()

28519

In [29]:
df2.loc[df2['Codigo_Cliente'] == 7668]

,Codigo_Cliente,Codigo_Poliza,Tipo_Vehiculo,Color,Marca,Modelo,Año,Tipo_Transmision
4885,7668,5053,Automovil,Blanco,HYUNDAI,SONATA,2013,Automatico
4886,7668,15169,Automovil,Blanco,HYUNDAI,SONATA,2013,Automatico
4887,7668,1,Automovil,Blanco,TOYOTA,CAMRY,2001,CE - Automatico
4888,7668,2516,Jeeps y Vanette,Blanco,LEXUS,LX,2017,570 4WD - Automatico
4889,7668,15170,"Cabezotes, Patanas y Tractores",Blanco,FREIGHTLINER,M2106,2010,Sincronico
4890,7668,15171,"Cabezotes, Patanas y Tractores",Blanco,FREIGHTLINER,M2106,2013,Sincronico
4891,7668,5784,"Cabezotes, Patanas y Tractores",Blanco,FREIGHTLINER,COLUMBIA CL 120,2005,Sincronico
4892,7668,3416,Camiones cama,Blanco,DAIHATSU,DELTA,2005,Sincronico
4893,7668,4695,Camiones cama,Blanco,DAIHATSU,DELTA,2010,Sincronico
4894,7668,1300,Camiones cama,Blanco,MACK,DM,2001,690 S Chasis - Sincronico
4895,7668,2640,Camiones cama,Blanco,DAIHATSU,DELTA,2000,Sincronico

In [52]:
df2.Tipo_Vehiculo.value_counts()

Jeeps y Vanette                   24701
Automovil                         16201
Camioneta                          4456
Furgoneta                          2335
Camion                             1603
Camiones cama                      1515
Motocicleta                        1156
Cabezotes, Patanas y Tractores     1118
Minibus                             970
Autobus                             788
Maquinaria Pesada                   610
Remolque                            200
Volqueta                             46
Grua                                  4
Otros Tipos                           4
Name: Tipo_Vehiculo, dtype: int64

In [53]:
df2.Marca.value_counts()

HYUNDAI    8287
TOYOTA     7781
KIA        5114
HONDA      4404
FORD       4006
           ...
ZEMAN         1
CHANNA        1
ROLATEC       1
AGY           1
TUCAN         1
Name: Marca, Length: 324, dtype: int64

In [21]:
df3 = pd.read_excel('Historico de Siniestros.xlsx')

In [22]:
df3.columns = df3.columns.str.title().str.strip()
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18706 entries, 0 to 18705
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id _ Siniestro            18706 non-null  int64
 1   Cd_Personav2              18706 non-null  int64
 2   Fe_Ocurrencia             18706 non-null  datetime64[ns]
 3   Poliza Id V2              18706 non-null  int64
 4   Cd_Provincia              18705 non-null  float64
 5   Cd_Ciudad                 18705 non-null  float64
 6   De_Lugar_Ocurrencia       18495 non-null  object
 7   Nu_Siniestro_Relacionado  18706 non-null  object
 8   In_Fraude                 18070 non-null  float64
 9   De_Causa_Siniestro        18706 non-null  object
 10  De_Causa_Detalle          18706 non-null  object
 11  De_Provincia              18706 non-null  object
 12  De_Ciudad                 18706 non-null  object
 13  Hora_Ocurrencia           18706 non-null  object
 14  Relacion_Reclamante       18706 non-null  object
 15  Evento_Catastrofico       18706 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(3), object(9)
memory usage: 2.3+ MB

In [25]:
df3 = df3.rename(columns = {'Id _ Siniestro':'Codigo_Siniestro',
                           'Poliza Id V2':'Codigo_Poliza',
                           'Cd_Personav2':'Codigo_Cliente'})

df3.head()

,Codigo_Siniestro,Codigo_Cliente,Fe_Ocurrencia,Codigo_Poliza,Cd_Provincia,Cd_Ciudad,De_Lugar_Ocurrencia,Nu_Siniestro_Relacionado,In_Fraude,De_Causa_Siniestro,De_Causa_Detalle,De_Provincia,De_Ciudad,Hora_Ocurrencia,Relacion_Reclamante,Evento_Catastrofico
0,1,7668,2015-05-29,1,29.0,1.0,Siniestro reportado vía cover.,,0.0,Accidente/Choque,Choque Simple,Distrito Nacional,Santo Domingo,17:15,0,0
1,2,23643,2016-02-12,2,29.0,1.0,C/ MAYAGUEZ URB. VILLAS DUMIT,,0.0,Accidente/Choque,Choque con Objeto,,,,,
2,3,29730,2016-02-09,3,1.0,1.0,Barahora,,0.0,Responsabilidad Civil Personas o Cosas,Lesiones y/o Muerte Pasajero/Terceros/ Daños a...,,,,,
3,4,14301,2016-02-15,4,1.0,1.0,Arroyo Hondo II,,0.0,Robo o Hurto Accesorios/ Partes o Piezas,Robo Accesorio y/o Piezas,Distrito Nacional,Santo Domingo,16:30,0,0
4,5,24144,2016-02-03,5,1.0,1.0,Avenida Gustavo Mejia Ricart,,0.0,Accidente/Choque,Colision,,,,,

In [44]:
df3.De_Causa_Siniestro.value_counts()

Accidente/Choque                            12935
Rotura de Vidrios y/o Parabrisas             2910
Responsabilidad Civil Personas o Cosas       2048
Robo o Hurto Accesorios/ Partes o Piezas      349
No Registrado                                 229
Hechos de la Naturaleza                       114
Daños Maliciosos al Vehículo/APOV              99
Robo o Hurto  Vehiculo                         22
Name: De_Causa_Siniestro, dtype: int64

In [45]:
df3.De_Causa_Detalle.value_counts()

Colision                                                                   8395
0                                                                          3159
Choque Simple                                                              2791
Daños a la Propiedad de Terceros                                           1750
Choque Estacionado                                                          898
Choque con Objeto                                                           605
Robo  Accesorio y/o Piezas                                                  259
Lesiones y/o Muerte Pasajero/Terceros/ Daños a la Propiedad de Terceros     177
Choque con Lesionado                                                        153
Lesiones y/o Muerte a  Terceros                                             112
Hurto  Accesorio y/o Piezas                                                  90
Vandalismo                                                                   88
Inundacion y/o Ras de Mar                                                    84
Volcamiento                                                                  37
Incendio                                                                     33
Robo del Vehículo Asegurado                                                  15
Incendio o Explosion                                                          8
Ciclón o Huracán                                                              8
Hurto Vehículo Asegurado                                                      7
Manga de Viento/Lluvia Granizada                                              7
Lesiones y/o Muerte  Pasajero                                                 5
Crecientes de agua e Inundación de ríos                                       5
Ciclón, Tornado o Tormenta                                                    5
Acc. Personales y/o Gastos Medicos al Conductor                               4
Conmoción Civil                                                               4
Caída directa de rayo                                                         2
Huelga                                                                        2
Tempestad, granizo y deshielo                                                 2
Rayo                                                                          1
Name: De_Causa_Detalle, dtype: int64

In [26]:
df3.Codigo_Cliente.nunique()

8778

In [47]:
df3.merge(df2, on = ['Codigo_Cliente','Codigo_Poliza'], how = 'left')

,Codigo_Siniestro,Codigo_Cliente,Fe_Ocurrencia,Codigo_Poliza,Cd_Provincia,Cd_Ciudad,De_Lugar_Ocurrencia,Nu_Siniestro_Relacionado,In_Fraude,De_Causa_Siniestro,...,De_Ciudad,Hora_Ocurrencia,Relacion_Reclamante,Evento_Catastrofico,Tipo_Vehiculo,Color,Marca,Modelo,Año,Tipo_Transmision
0,1,7668,2015-05-29,1,29.0,1.0,Siniestro reportado vía cover.,,0.0,Accidente/Choque,...,Santo Domingo,17:15,0,0,Automovil,Blanco,TOYOTA,CAMRY,2001.0,CE - Automatico
1,2,23643,2016-02-12,2,29.0,1.0,C/ MAYAGUEZ URB. VILLAS DUMIT,,0.0,Accidente/Choque,...,,,,,Jeeps y Vanette,Rojo,KIA,SPORTAGE,2015.0,4x4 - Automatico
2,3,29730,2016-02-09,3,1.0,1.0,Barahora,,0.0,Responsabilidad Civil Personas o Cosas,...,,,,,Camiones cama,Blanco,DAIHATSU,DELTA,2007.0,Sincronico
3,4,14301,2016-02-15,4,1.0,1.0,Arroyo Hondo II,,0.0,Robo o Hurto Accesorios/ Partes o Piezas,...,Santo Domingo,16:30,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,5,24144,2016-02-03,5,1.0,1.0,Avenida Gustavo Mejia Ricart,,0.0,Accidente/Choque,...,,,,,Jeeps y Vanette,Blanco,TOYOTA,PRADO,2013.0,%Sincronico
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18701,18702,192804,2023-04-04,11379,1.0,1.0,AUTOPISTA DUARTE,,0.0,Rotura de Vidrios y/o Parabrisas,...,,,,,Jeeps y Vanette,Blanco,JEEP,WRANGLER,2023.0,Renegade 4x4 - Automatico
18702,18703,181905,2023-06-03,11470,1.0,1.0,LOS MULTIS LOS ALCARRIZOS,,0.0,Rotura de Vidrios y/o Parabrisas,...,,,,,Camioneta,Blanco,ISUZU,D-MAX,2015.0,Automatico
18703,18704,182109,2023-05-22,11471,1.0,1.0,AUTOPISTA DUARTE,,0.0,Rotura de Vidrios y/o Parabrisas,...,,,,,Jeeps y Vanette,Azul,HYUNDAI,TUCSON,2014.0,GL - Automatico
18704,18705,302838,2023-06-01,11472,1.0,1.0,CALLE CAMINO CHIQUITO,,0.0,Accidente/Choque,...,,,,,Camioneta,Gris,TOYOTA,HILUX,2023.0,Cabina Sencilla Pick-Up 4x4 - Sincronico
18705,18706,114156,2023-05-06,11311,13.0,1.0,HIGUEY PROXIMO AL COMERCIAL REYNALDO VILLA CER...,,0.0,Responsabilidad Civil Personas o Cosas,...,,,,,Jeeps y Vanette,Gris,LEXUS,RX,2004.0,330 - Automatico